<h1>Favorites#new</h1>

<%= form_for @favorite do |f| %>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, User.all, :id, :name  %>
<br>
<%= form_for @favorite do |f| %>
  <%= f.label :article_id %>
  <%= f.collection_select :article_id, Article.all, :id, :title  %>

  

  <%= f.submit %>