<h1><%= link_to @favorite.article.title, @favorite.article.url, {:style=>'color:#000000;', :class => "css_class"} %>
</h1>
<h3><%= @favorite.article.category %></h3>
<%= @favorite.article.author %>
<% time = @favorite.article.publishedAt = Time.new %> 
<p> Published: <%= time.strftime("%I:%M %p on %B %d") %> </p>
<img style="max-width: 200px;"src="<%= @favorite.article.urlToImage %>" alt="<%@favorite.article.title%>" class="index-img">


<%= button_to "DELETE", favorite_path(@favorite), method: :delete %>