<!-- <a style="text-align:right" href="/users/new" class= "button" >Sign Up</a> -->
<br>
<h1 style="text-align:center">Hello, Please Login!</h1>
<br>

<% if flash[:my_errors]%>
    <br> <p style="color:red"><%= flash[:my_errors]%></p>
<% end %>


<%= bootstrap_form_tag url: "/login", layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f| %>
    <div class="container" width="50px"><%= f.text_field :username %></div>
    <div class="container" width="50px" ><%= f.password_field :password %></div>
    <div class="container"><%= f.submit "Log in!" %></div>
    <br>
    <a href="/users/new" class= "container" >Sign Up</a>
<% end %>