<a href="/users_interests/:id/edit” class= "button" >Edit Interests</a>
<a href="/favorites/:id/edit” class= "button" >Edit Favorites</a>
<h1> <%= @current_user.name %>'s Homepage </h1>


<% @current_user.interests.each do |interest| %>
    <%= interest.topic %>
<% end %>

<!-- 
<% @current_user.interested_topics.map do |art| %> 
    <%= art.category %>
    <br><br>
    <li> <%= art.title %> </li>
    <img src="<%= art.urlToImage%>" alt= "Article Picture">
    <br>
    <% end %>
-->

<div class="index-container">
  <% @current_user.interested_topics.map do |art| %>
    <div class="index-card">
      <h3><%= link_to art.title, art.url %></h3>
      <img style="max-width: 200px;"src="<%= art.urlToImage %>" alt="<%art.title%>" class="index-img">
    </div>
  <% end %>
</div>

<!--
<dl>
  <% @current_user.interests.each do |interest| %>
      <dt> <%= interest.topic %> </dt>
  <% @current_user.interested_topics.map do |art| %>
    <dd><%= link_to art.title, art.url %></dd>
  <% end %>
  <% end %>
</dl>
-->
