<h2 style="text-align:center";> Edit Interests </h2>

<%= form_tag user_interests_path do %>
    <%= label_tag "Select Interest" %>
    <select name="user_interest[][interest_id]" > 
      <% Interest.all.each do |interest| %>
        <option value="<%= interest.id %>"> <%= interest.topic%> </option>
      <% end %>
    </select>
  <%= submit_tag %>
<% end %>