<!DOCTYPE html>

<html>
  <head>
  
    <title>Flatiron Daily</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<nav style="text-align:center" class="nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 >The Flatiron Daily</h1>
    </div>
    <div style="text-align:ceter">
        <% if logged_in? %>
          Logged in as: <%= @current_user.name %>
        <% end %>
    </div>
    <div style="horizontal" class='nav-horizontal'>
    <% if logged_in? %>
      <%= link_to "Home", "/users/show" %>
      <%= link_to "Interests", user_interests_path %>
      <%= link_to "Favorites", favorites_path %>
      <%= link_to "Sign Out", "/logout", method: :delete %>
    <% else %>
    <% end %>

    <br>
  </div>
</nav>

    <%= yield %>
  </body>
</html>



  