<!DOCTYPE html>

<html>
  <head>
    <title>Flatiron Daily</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    
      <% if logged_in? %>
        Hello, <%= @current_user.name %>!
        <%= button_to "Sign Out", "/logout", method: :delete %>
        <%= button_to "Edit Interests", "/user_interests/edit", method: :edit %>
      <% else %>
        <%= link_to "Login Page", login_path %>
      <% end %>
    
    </nav>
    <%= yield %>
  </body>
</html>
