<!DOCTYPE html>

<html>
  <head>
    <title>Flatiron Daily</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<nav style="text-align:center" class="nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 >The Flatiron Daily</h1>
    </div>
    <div style="text-align:ceter">
        <% if logged_in? %>
          Logged in as: <%= @current_user.name %>
        <% end %>
    </div>
    <div style="horizontal">
      <%= button_to "Home", "/users/show", method: :get %>
      <%= button_to "Interests", user_interests_path, method: :get %>
      <%= button_to "Favorites", favorites_path, method: :get %>
      <%= button_to "Sign Out", "/logout", method: :delete %>

    <br>
  </div>
</nav>

    <%= yield %>
  </body>
</html>



  